@import url(style.css);

* {
    margin: 0;
    padding: 0;
}

.area-cadastro {
    margin: 100px auto;
    width: 60vw;
    background-color: var(--back-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 20px;
}

.area-formularuio{
    display: flex;
    justify-content: center;
    width: 60vw;
}

.area-formularuio > div {
    display: flex;
    gap: 50px;
}

div{
    width: 100%;
    display: flex;
}

.area-endereco{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input, select {
    padding: 7px 0;
    margin-bottom: 8px;
}

.area-botão{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#botão-cadastrar{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}

.titulo-campo{
    display: flex;
    flex-direction: column;
}

.formatacao{
    gap: 1rem;
}

.form{
    width: 50vw;
}

.ddd, .numero{
    width: 100px;
}

@media (max-width:440px){
    .area-cadastro{
        width: 100vw;
        background: none;
        color: var(--back-color);
    }

    .form{
        width:90vw;
    }

    .formatacao{
        flex-direction: column;
    }

.area-contato, .endereco-numero, .cidade-cep{
    flex-direction: row;
}

input,
select{
    border: 2px solid var(--cor-principal);    
}

.cep{
    width: 30vw;
}

#botao_cadastrar{
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}

.linl-login{
   color: var(--cor-principal);
}

}
     