@import url(style.css);
@import url(cadastro.css);

.form-cadastro{
    width: 30vw;
}
.area-cadastro{
    width: 45vw;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.area-acesso{
    flex-direction: column;
}

.footer{
    background-color: var(--cor-principal);
    width: 100vw;
    height: 50vh;
}

@media(max-width:440px){
    .area-cadastro{
        width: 100vw;
    }

    .form-cadastro{
        width: 85vw;
    }
}   
